.cards-sec{
  height: auto;
}
.card__container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  height: 40rem;
  padding: 2rem;
  height: auto;
  width: 90%;
  margin: 0 auto;
  
}
.card__text{
  font-size: 2rem;
}
.cards{
  margin-right: 2rem;
  
  min-width: 30rem;
  max-width: 33rem;
  margin: 0 auto;
  position: relative;
  
}
.card__picture {
  background-size: cover;
  height: 23rem;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px; }
  .card__picture--1 {
    background-image:  url(../img/img2.webp); }
  .card__picture--2 {
    background-image:  url(../img/img2.jpg); }
  .card__picture--3 {
    background-image:  url(../img/facebook.jpg); }

.card__heading {
  font-size: 2.5rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  border-radius: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  }
.card__heading-span {
  padding: 1rem 1.5rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone; }
  .card__heading-span--1 {
    background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
  .card__heading-span--2 {
    background-image: linear-gradient(to right bottom, rgba(3, 3, 3, 0.644), rgba(0, 0, 0, 0.644)); }
  .card__heading-span--3 {
    background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
.card__details {
  padding: 3rem; }
  .card__details ul {
    list-style: none;
    width: 80%;
    margin: 0 auto; }
    .card__details ul li {
      text-align: center;
      font-size: 2rem;
      padding: 1rem; }
      .card__details ul li:not(:last-child) {
        border-bottom: 1px solid #eee; }


